@import "tailwindcss";

@theme {
  --color-black: #222123;
  --color-main-bg: #232224;
  --color-white: #ffffff;
  --color-dark-brown: #523122;
  --color-mid-brown: #a26833;
  --color-light-brown: #e3a458;
  --color-red-brown: #7f3b2d;
  --color-yellow-brown: #a26833;
  --color-milk-yellow: #e3d3bc;
  --color-red: #a02128;
  --color-milk: #faeade;
  --font-sans: "Antonio", sans-serif;
  --font-paragraph: "ProximaNova, sans-serif";
}


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #faeade;
  color: #523122;
  font-family: "Antonio", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}


body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.bg-milk-pattern {
  background-image: radial-gradient(circle at 20% 30%, rgba(255, 255, 255, 0.15) 10%, transparent 20%),
    radial-gradient(circle at 80% 60%, rgba(255, 255, 255, 0.12) 12%, transparent 20%),
    radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0.1) 10%, transparent 20%),
    radial-gradient(circle at 70% 40%, rgba(255, 255, 255, 0.13) 10%, transparent 20%);
  background-size: cover;
}